body{
    overflow-x: hidden;
}

.navbar{
    width: 60%;
    margin: auto;
}

.carousel-caption > h5{
    float: left;
}

.card{
    display:flex;
    margin: auto;
}

.row{
    padding-top: 10%;
    padding-bottom: 10%;
}

.card-body{
    text-align: center;
}
.velkydiv{
    text-align: center;
}

.foter1>a{
    float: left;
    text-decoration: none;
    color :white;
    }
    .foter2>a{
        float: right;
        text-decoration: none;
        color :white;
    }
    .foter1{
        margin-left: 15%;
        background-color:#071d2c;
        color: white;
        text-decoration: none;
        color :white;
    }
    .foter2{
        margin-right: 15%;
        background-color:#071d2c;
        color: white;
    }
    .p-5 >div>div>div>div {
        margin-top: 10%;
    }
    
    .bottom{
        display: flex;
        flex-direction: row;
        margin-left: 40%;
    }
    .bottom>div{
        text-decoration: none;
        color: white;
        padding: 1% 1%;
    }
    
    .bottom>div>a{
        color:#01b5e3;
        text-decoration: none;
    }
    .butono{
        margin-bottom: 20px;
    }